 <h1>Welcome to NannyApp4u, <%= @user.email %></h1>
    <p>
      You have signed successfully
      as <%= @user.role %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>

    <p>Thanks for joining us and have a great day!</p>


