<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" style="text-align:center;">
    <div class="item active">
      <h1>Because you need a <strong>BabeSitter</strong><br>
      <img src="https://s18.postimg.org/3ou8ecz4p/lolababesitter.jpg" alt="Chania" align="middle">
      </h1>
    </div>

    <div class="item">
      <h1>Because you want all<br>
      <img src="https://s16.postimg.org/b6l66ouvp/foto.jpg" alt="Chania" align="middle"><br>
       the best for your <strong>Family</strong></h1>
    </div>

    <div class="item">
      <h1>Because you need to enjoy your<strong>Time</strong><br>
      <img src="https://s10.postimg.org/5aoauozcp/foto2.jpg" alt="Flower" align="middle">
      </h1>
    </div>

    <div class="item">
      <h1>Because your babe needs to be <strong>Save</strong><br>
      <img src="https://s11.postimg.org/7tftqqwcj/foto3.gif" alt="Flower" align="middle">
      </h1>
    </div>
  </div>